.form-control-container {
    width: 60%;
    height: 60%;
    display: inline-block;
    line-height: 0.5;
    padding-left: 0%;
  }

.control-label-container{
  padding-left: 0%;
}

  .form-title{
    padding: 1%;
    text-align: center;
  }

  .form-container{
    padding: 10%;
    padding-top: 3%;
  }

  .error-message{
    color:red;
    padding-top: 1%;
  }