<section #registrationForm class="form-section-container">

    <div class="right-top-heading">
        <div class="heading-text">
            Registration Form
        </div>
    </div>

    <div class="logo-row">
        <div class="row-top">
            <div class="logo-col-1">
                <img src="../../../assets/logo-babbleapp-1.jpg" width="75">
            </div>
            <div class="logo-col-2">
                <span>BABBLE APP</span>
                <span>Speak&nbsp;|&nbsp;Learn&nbsp;|&nbsp;Grow</span>
            </div>
        </div>
    </div>

    <form class="w-100 mx-0 my-0 px-0 py-0" [formGroup]="userRegistration" (ngSubmit)="submitForm(modelTemplate)">

        <div class="card">
            <label>Basic Details</label>
            <div class="card-body">

                <div class="form-group">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <!-- First Name -->
                            <div class="form-group">
                                <input class="col-sm-12 form-control" type="text" formControlName="firstName" #firstName
                                    [ngClass]="{'focused-input-valid': isValid(userRegistration.controls.firstName),
                                'focused-input-invalid': isInvalid(userRegistration.controls.firstName)}">
                                <label for="First Name" [ngClass]="{'focused-label-valid': isValid(userRegistration.controls.firstName),
                                    'focused-label-invalid': isInvalid(userRegistration.controls.firstName)}">
                                    First Name
                                </label>
                                <p class="error-message" *ngIf="isInvalid(userRegistration.controls.firstName)">
                                    First name is mandatory!
                                </p>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <!-- Last Name -->
                            <div class="form-group">
                                <input class="col-sm-12 form-control" type="text" formControlName="lastName" #lastName
                                    [ngClass]="{'focused-input-valid': isValid(userRegistration.controls.lastName),
                                'focused-input-invalid': isInvalid(userRegistration.controls.lastName)}">
                                <label for="Last Name" [ngClass]="{'focused-label-valid': isValid(userRegistration.controls.lastName),
                                    'focused-label-invalid': isInvalid(userRegistration.controls.lastName)}">
                                    Last Name
                                </label>
                                <p class="error-message" *ngIf="isInvalid(userRegistration.controls.lastName)">
                                    Last name is mandatory!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="row">
                        <!-- Gender -->
                        <div class="col-12 col-lg-6" id="genCol">

                            <div class="input-group">
                                <span class="input-group-text">Gender</span>&nbsp;&nbsp;
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" value="male"
                                        formControlName="gender">
                                    <span class="form-check-label">Male</span>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" value="female"
                                        formControlName="gender">
                                    <span class="form-check-label">Female</span>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" value="other"
                                        formControlName="gender">
                                    <span class="form-check-label">Other</span>
                                </div>

                            </div>

                        </div>

                        <div class="col-12 col-lg-6">

                            <!-- Age -->
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Age</span>
                                </div>
                                <input class="form-control" type="number" formControlName="age">
                            </div>
                            <p class="error-message" *ngIf="isInvalid(userRegistration.controls.age)">
                                Please provide a valid age in years!
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Profession  -->
                <div class="form-group">
                    <input class="col-sm-12 form-control" type="text" formControlName="profession" [ngClass]="{'focused-input-valid': isValid(userRegistration.controls.profession),
                    'focused-input-invalid': isInvalid(userRegistration.controls.profession)}">
                    <label for="Last Name" [ngClass]="{'focused-label-valid': isValid(userRegistration.controls.profession),
                        'focused-label-invalid': isInvalid(userRegistration.controls.profession)}">
                        Profession
                    </label>
                    <p class="error-message" *ngIf="isInvalid(userRegistration.controls.profession)">
                        Profession is mandatory!
                    </p>
                </div>

            </div>
        </div>

        <div class="card">
            <label>Contact Details</label>
            <div class="card-body">

                <!-- Address  -->
                <div class="form-group">
                    <input class="col-sm-12 form-control" type="text" formControlName="address" [ngClass]="{'focused-input-valid': isValid(userRegistration.controls.address),
                    'focused-input-invalid': isInvalid(userRegistration.controls.address)}">
                    <label for="Last Name" [ngClass]="{'focused-label-valid': isValid(userRegistration.controls.address),
                        'focused-label-invalid': isInvalid(userRegistration.controls.address)}">
                        Address
                    </label>
                    <p class="error-message" *ngIf="isInvalid(userRegistration.controls.address)">
                        Address is mandatory!
                    </p>
                </div>


                <!-- Contact Number  -->
                <div class="form-group">
                    <input class="col-sm-12 form-control" type="tel" formControlName="contactNumber" [ngClass]="{'focused-input-valid': isValid(userRegistration.controls.contactNumber),
                    'focused-input-invalid': isInvalid(userRegistration.controls.contactNumber)}">
                    <label for="Last Name" [ngClass]="{'focused-label-valid': isValid(userRegistration.controls.contactNumber),
                        'focused-label-invalid': isInvalid(userRegistration.controls.contactNumber)}">
                        Contact Number
                    </label>
                    <p class="error-message" *ngIf="isInvalid(userRegistration.controls.contactNumber)">
                        Please enter a valid contact number! Ex. 9574********
                    </p>
                </div>

                <!-- Email -->
                <div class="form-group">
                    <input class="col-sm-12 form-control" type="text" formControlName="email" [ngClass]="{'focused-input-valid': isValid(userRegistration.controls.email),
                    'focused-input-invalid': isInvalid(userRegistration.controls.email)}">
                    <label for="Last Name" [ngClass]="{'focused-label-valid': isValid(userRegistration.controls.email),
                        'focused-label-invalid': isInvalid(userRegistration.controls.email)}">
                        Email
                    </label>
                    <p class="error-message" *ngIf="isInvalid(userRegistration.controls.email)">
                        Please enter a valid email!
                    </p>
                </div>





            </div>
        </div>

        <div class="card">
            <label>Other Details</label>
            <div class="card-body">

                <!-- Q1  -->
                <div class="form-group">
                    <div class="row mx-auto">
                        <label>
                            Are you comfortable conversing with the opposite gender?
                        </label>
                    </div>
                    <div class="row">
                        <div class="col col-lg-3">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="radio" name="isComfortableWithOppositeGender" value="yes"
                                            formControlName="isComfortableWithOppositeGender">
                                    </div>
                                </div>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        Yes
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col col-lg-3">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="radio" name="isComfortableWithOppositeGender" value="No"
                                            formControlName="isComfortableWithOppositeGender">
                                    </div>
                                </div>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        No
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-5 col-lg-3">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="radio" name="isComfortableWithOppositeGender" value="May be"
                                            formControlName="isComfortableWithOppositeGender">
                                    </div>
                                </div>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        Maybe
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="error-message"
                        [hidden]="userRegistration.controls.isComfortableWithOppositeGender.valid || !userRegistration.controls.isComfortableWithOppositeGender.touched">
                        Please provide an answer!
                    </p>
                </div>

                <!-- Q2 -->
                <div class="form-group">
                    <div class="row mx-auto">
                        <label>
                            Where did you hear about us?
                        </label>
                    </div>
                    <div class="row mx-auto">
                        <input class="col-sm-12 form-control" type="text" formControlName="referredFrom">
                    </div>
                    <p class="error-message"
                        [hidden]="userRegistration.controls.isComfortableWithOppositeGender.valid || !userRegistration.controls.isComfortableWithOppositeGender.touched">
                        Please provide an answer!
                    </p>
                </div>

                <!-- Q3 -->
                <div class="form-group">
                    <div class="row mx-auto">
                        <label>
                            What do you aim to achieve by enrolling for this course?
                        </label>
                    </div>
                    <div class="row mx-auto">
                        <input class="col-sm-12 form-control" type="text" formControlName="purpose">
                    </div>
                    <p class="error-message"
                        [hidden]="userRegistration.controls.purpose.valid || !userRegistration.controls.purpose.touched">
                        Please let us know your purpose of joining this course!
                    </p>
                </div>


            </div>
        </div>

        <div class="card">
            <label>Book Your Time Slot</label>
            <div class="card-body">

                <!-- Time Slot Booking  -->
                <div class="form-group">
                    <div class="row mx-auto">
                        <label>
                            Select your preferred time slot for 30 Days (Select carefully, once submitted no alteration
                            is possible)
                        </label>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-2 col-4 py-2 px-auto" *ngFor="let slot of timeSlotArray">
                            <button class="btn btn-sm btn-block" type="button"
                                [disabled]="slot.isAvailable ? slot.isBooked : true" [ngClass]="{'btn-outline-success': slot.isAvailable ? !slot.isBooked : false, 
                                            'btn-danger': slot.isAvailable ? slot.isBooked : false,
                                            'btn-secondary': !slot.isAvailable }"
                                [class.active]=" isSelectedSlot ? isSelectedSlot.slot === slot.slot : false"
                                (click)="selectTimeSlot(slot)">{{slot.slot}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <label>Promo Code (Optional)</label>
            <div class="card-body">

                <!-- PromoCode  -->
                <div class="row mx-auto">
                    <label>
                        Enter your promo code below in order to get offer.
                    </label>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input class="col-sm-12 form-control" type="text" formControlName="promoCode"
                            placeholder="Your Code">
                    </div>
                    <!-- <p class="error-message"
                        [hidden]="userRegistration.controls.promoCode.errors?.promoCodeValidation || !isPromoCodeValid">
                        
                        Invalid promo code!
                    </p>
                    <p style="color: green"
                        [hidden]="userRegistration.controls.promoCode.errors?.promoCodeValidation || isPromoCodeValid">
                        
                        Promo Code Applied Successfully !
                    </p> -->
                </div>
            </div>
        </div>

        <div class="card">
            <label>Self Declaration</label>
            <div class="card-body">

                <!-- Self Declaration  -->
                <div class="row mx-auto">
                    <label>
                        I will strictly follow the professional etiquette and will not misbehave with the tutor. If
                        found, BabbleApp has authority to cancel my registration.
                    </label>
                </div>
                <div class="row mx-auto">
                    <label>
                        I have read and understood the terms and conditions of this course.
                    </label>
                </div>
                <div class="form-group control-label-container">
                    <input type="checkbox" formControlName="isDeclarationAccepted">&nbsp;
                    <span>I Agree</span>
                    <p class="error-message"
                        [hidden]="userRegistration.controls.isDeclarationAccepted.valid || !userRegistration.controls.isDeclarationAccepted.touched">
                        Please read and accept the terms and conditions!
                    </p>
                    <br>
                </div>
            </div>
        </div>

        <div class="row my-3">
            <div class="col-lg-3 col-6">
                <button type="submit" class="btn btn-success btn-block"
                    [disabled]="!userRegistration.valid || !userRegistration.controls.isDeclarationAccepted.value">Register</button>

            </div>
        </div>

    </form>

</section>

<ng-template #modelTemplate>
    <div class="modal-header mdhead">
        <div class="col">
            <div class="row">
                <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="row">
                <div class="col">
                    <h3 class="text-center">Congratulations!</h3><br>
                    <p class="text-center">Your first-step to Level Up Speaking English was completed successfully</p>
                </div>
            </div>
            <div class="row align-items-center justify-content-center mt-2">
                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg">
                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                </svg>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="col">
            <div class="row" style="border-bottom: 1px solid rgba(136, 136, 136, 0.685);">
                <h4>What Next?</h4>
            </div>
            <div class="row mt-3 mb-2">
                <h6>Contact Out Team for further process</h6>
            </div>
            <div class="row align-items-center justify-content-around">
                <div class="col-6 align-items-center justify-content-center text-center" style="border-right: 1px solid #000;">
                    <h6>Aakash</h6>
                    <h6>(+91)9130081881</h6>
                </div>
                <div class="col-6 align-items-center justify-content-center text-center">
                    <h6>Akshay</h6>
                    <h6>(+91)9156897772</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn mbtn pull-right" aria-label="Close" (click)="closeModal()">
            Okay
        </button>
    </div>
</ng-template>