
<!-- Form -->
<div class="form-container" style="display: none">
    <form class="form-horizontal" [formGroup]="userRegistration" (ngSubmit)="submitForm()">

        <!-- First Name -->
        <div class="form-group">
            <span><label class="col-sm-4 control-label-container control-label">FIRST NAME:&nbsp; </label></span>
            <div class="form-control-container">
                <input class="col-sm-12 form-control" type="text" formControlName="firstName" #firstName>
                <p class="error-message"
                    [hidden]="userRegistration.controls.firstName.valid || !userRegistration.controls.firstName.touched">
                    First name is mandatory!
                </p>
            </div>
            <br>
        </div>

        <!-- Last Name -->
        <div class="form-group">
            <span><label class="col-sm-4 control-label-container control-label">LAST NAME:&nbsp; </label></span>
            <div class="form-control-container">
                <input class="col-sm-12 form-control" type="text" formControlName="lastName" #lastName>
                <p class="error-message" [hidden]="userRegistration.controls.lastName.valid || !userRegistration.controls.lastName.touched">
                    Last name is mandatory!
                </p>
            </div>
            <br>
        </div>

        <!-- profession -->
        <div class="form-group">
            <span><label class="col-sm-4 control-label-container control-label">profession:&nbsp; </label></span>
            <div class="form-control-container">
                <input class="col-sm-12 form-control" type="text" formControlName="profession">
                <p class="error-message"
                    [hidden]="userRegistration.controls.profession.valid || !userRegistration.controls.profession.touched">
                    Profession is mandatory!
                </p>
            </div>
            <br>
        </div>

        <!-- Email -->
        <div class="form-group">
            <span><label class="col-sm-4 control-label-container control-label">EMAIL:&nbsp; </label></span>
            <div class="form-control-container">
                <input class="col-sm-12 form-control" type="text" formControlName="email">
                <p class="error-message" [hidden]="userRegistration.controls.email.valid || !userRegistration.controls.email.touched">
                    Please enter a valid email!
                </p>
            </div>
            <br>
        </div>

        <!-- Contact No -->
        <div class="form-group">
            <span><label class="col-sm-4 control-label-container control-label">CONTACT NO:&nbsp; </label></span>
            <div class="form-control-container">
                <input class="col-sm-12 form-control" type="tel" formControlName="contactNumber">
                <p class="error-message"
                    [hidden]="userRegistration.controls.contactNumber.valid || !userRegistration.controls.contactNumber.touched">
                    Please enter a valid contact number! Ex. +9174********
                </p>
            </div>
            <br>
        </div>

        <!-- Address -->
        <div class="form-group">
            <span><label class="col-sm-4 control-label-container control-label">ADDRESS:&nbsp; </label></span>
            <div class="form-control-container">
                <input class="col-sm-12 form-control" type="text" formControlName="address">
                <p class="error-message" [hidden]="userRegistration.controls.address.valid || !userRegistration.controls.address.touched">
                    Address is mandatory!
                </p>
            </div>
            <br>
        </div>

        <!-- Gender -->
        <div class="form-group">
            <span><label class="col-sm-4 control-label-container control-label">GENDER:&nbsp; </label></span>
            <div class="col-sm-6 form-control-container">
                <label><input type="radio" name="gender" value="male" formControlName="gender">
                    &nbsp;Male</label>&nbsp;&nbsp;
                <label><input type="radio" name="gender" value="female" formControlName="gender">
                    &nbsp;Female</label>&nbsp;&nbsp;
                <label><input type="radio" name="gender" value="other" formControlName="gender">
                    &nbsp;Other</label>&nbsp;&nbsp;
            </div>
            <p class="error-message" [hidden]="userRegistration.controls.gender.valid || !userRegistration.controls.gender.touched">
                Gender is mandatory!
            </p>
            <br>
        </div>

        <!-- Age -->
        <div class="form-group">
            <span><label class="col-sm-4 control-label-container control-label">AGE:&nbsp; </label></span>
            <div class="form-control-container">
                <input class="col-sm-12 form-control" type="number" formControlName="age">
                <p class="error-message" [hidden]="userRegistration.controls.age.valid || !userRegistration.controls.age.touched">
                    Please provide a valid age in years!
                </p>
            </div>
            <br>
        </div>

        <!-- Question: ARE YOU COMFORTABLE CONVERSATING WITH OPPOSITE GENDER TUTOR
                        THROUGHOUT THE COURSE? -->
        <div class="form-group">
            <span><label class="col-sm-4 control-label-container control-label">ARE YOU COMFORTABLE CONVERSATING WITH
                    OPPOSITE GENDER TUTOR
                    THROUGHOUT THE COURSE?&nbsp;</label></span>
            <div class="col-sm-6 form-control-container">
                <label><input type="radio" name="isComfortableWithOppositeGender" value="yes"
                        formControlName="isComfortableWithOppositeGender">&nbsp; Yes</label>&nbsp;&nbsp;
                <label><input type="radio" name="isComfortableWithOppositeGender" value="no"
                        formControlName="isComfortableWithOppositeGender">&nbsp; No</label>&nbsp;&nbsp;
            </div>
            <p class="error-message"
                [hidden]="userRegistration.controls.isComfortableWithOppositeGender.valid || !userRegistration.controls.isComfortableWithOppositeGender.touched">
                Please provide an answer!
            </p>
            <br>
        </div>

        <!-- Question: WHERE DID YOU HEAR ABOUT US?  -->
        <div class="form-group">
            <span><label class="col-sm-4 control-label-container control-label">WHERE DID YOU HEAR ABOUT US?&nbsp;
                </label></span>
            <div class="form-control-container">
                <input class="col-sm-12 form-control" type="text" formControlName="referredFrom">
                <p class="error-message"
                    [hidden]="userRegistration.controls.referredFrom.valid || !userRegistration.controls.referredFrom.touched">
                    <!-- No validation added -->
                </p>
            </div>
            <br>
        </div>

        <!-- Promo Code -->
        <div class="form-group">
            <span><label class="col-sm-4 control-label-container control-label">PROMO CODE:&nbsp; </label></span>
            <div class="form-control-container">
                <input class="col-sm-12 form-control" type="text" formControlName="promoCode">
                <p class="error-message"
                    [hidden]="userRegistration.controls.promoCode.errors?.promoCodeValidation || userRegistration.controls.promoCode.value == ''">
                    <!-- Currently no validations -->
                    Invalid promo code!
                </p>
            </div>
            <br>
        </div>

        <!-- Purpose of joining this course -->
        <div class="form-group">
            <span><label class="col-sm-4 control-label-container control-label">PRUPOSE OF JOINING THIS COURSE:&nbsp;
                </label></span>
            <div class="form-control-container">
                <input class="col-sm-12 form-control" type="text" formControlName="purpose">
                <p class="error-message" [hidden]="userRegistration.controls.purpose.valid || !userRegistration.controls.purpose.touched">
                    Please let us know your purpose of joining this course!
                </p>
            </div>
            <br>
        </div>
        <br>

        <!-- Declaration -->
        <div class="form-group control-label-container">
            <input type="checkbox" formControlName="isDeclarationAccepted">&nbsp;
            <span><label>I, {{ firstName.value }}&nbsp;{{ lastName.value }}, have read and understood the terms and
                    conditions of this
                    course. </label></span>
            <p class="error-message"
                [hidden]="userRegistration.controls.isDeclarationAccepted.valid || !userRegistration.controls.isDeclarationAccepted.touched">
                Please read and accept the terms and conditions!
            </p>
            <br>
        </div>

        <!-- Submit Button -->
        <div class="form-group control-label-container">
            <button type="submit"
                [disabled]="!userRegistration.valid || !userRegistration.controls.isDeclarationAccepted.value">Register</button>
        </div>

    </form>
</div>

<section #registrationForm class="form-section-container">

    <div class="right-top-heading">
        <div class="heading-text">
            Registration Form
        </div>
    </div>

    <div class="logo-row">
        <div class="row-top">
            <div class="logo-col-1">
                <img src="../../../assets/logo-babbleapp-1.jpg" width="75">
            </div>
            <div class="logo-col-2">
                <span>BABBLE APP</span>
                <span>Speak&nbsp;|&nbsp;Learn&nbsp;|&nbsp;Grow</span>
            </div>
        </div>
    </div>

    <!-- <div class="left-top-heading">
    </div> -->

    <form class="w-100 mx-0 my-0 px-0 py-0" [formGroup]="userRegistration" (ngSubmit)="submitForm()">

        <div class="card">
            <label>Basic Details</label>
            <div class="card-body">

                <div class="form-group">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <!-- First Name -->
                            <div class="form-group">
                                <input class="col-sm-12 form-control" type="text" formControlName="firstName" #firstName
                                    [ngClass]="{'focused-input-valid': isValid(userRegistration.controls.firstName),
                                'focused-input-invalid': isInvalid(userRegistration.controls.firstName)}">
                                <label for="First Name" [ngClass]="{'focused-label-valid': isValid(userRegistration.controls.firstName),
                                    'focused-label-invalid': isInvalid(userRegistration.controls.firstName)}">
                                    First Name
                                </label>
                                <p class="error-message" *ngIf="isInvalid(userRegistration.controls.firstName)">
                                    First name is mandatory!
                                </p>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <!-- Last Name -->
                            <div class="form-group">
                                <input class="col-sm-12 form-control" type="text" formControlName="lastName" #lastName
                                    [ngClass]="{'focused-input-valid': isValid(userRegistration.controls.lastName),
                                'focused-input-invalid': isInvalid(userRegistration.controls.lastName)}">
                                <label for="Last Name" [ngClass]="{'focused-label-valid': isValid(userRegistration.controls.lastName),
                                    'focused-label-invalid': isInvalid(userRegistration.controls.lastName)}">
                                    Last Name
                                </label>
                                <p class="error-message" *ngIf="isInvalid(userRegistration.controls.lastName)">
                                    Last name is mandatory!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="row">
                        <!-- Gender -->
                        <div class="col-12 col-lg-6" id="genCol">

                            <div class="input-group">
                                <span class="input-group-text">Gender</span>&nbsp;&nbsp;
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" value="male"
                                        formControlName="gender">
                                    <span class="form-check-label">Male</span>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" value="female"
                                        formControlName="gender">
                                    <span class="form-check-label">Female</span>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" value="other"
                                        formControlName="gender">
                                    <span class="form-check-label">Other</span>
                                </div>

                            </div>

                        </div>

                        <div class="col-12 col-lg-6">

                            <!-- Age -->
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Age</span>
                                </div>
                                <input class="form-control" type="number" formControlName="age">
                            </div>
                            <p class="error-message" *ngIf="isInvalid(userRegistration.controls.age)">
                                Please provide a valid age in years!
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Profession  -->
                <div class="form-group">
                    <input class="col-sm-12 form-control" type="text" formControlName="profession" [ngClass]="{'focused-input-valid': isValid(userRegistration.controls.profession),
                    'focused-input-invalid': isInvalid(userRegistration.controls.profession)}">
                    <label for="Last Name" [ngClass]="{'focused-label-valid': isValid(userRegistration.controls.profession),
                        'focused-label-invalid': isInvalid(userRegistration.controls.profession)}">
                        Profession
                    </label>
                    <p class="error-message" *ngIf="isInvalid(userRegistration.controls.profession)">
                        Profession is mandatory!
                    </p>
                </div>

            </div>
        </div>

        <div class="card">
            <label>Contact Details</label>
            <div class="card-body">

                <!-- Address  -->
                <div class="form-group">
                    <input class="col-sm-12 form-control" type="text" formControlName="address" [ngClass]="{'focused-input-valid': isValid(userRegistration.controls.address),
                    'focused-input-invalid': isInvalid(userRegistration.controls.address)}">
                    <label for="Last Name" [ngClass]="{'focused-label-valid': isValid(userRegistration.controls.address),
                        'focused-label-invalid': isInvalid(userRegistration.controls.address)}">
                        Address
                    </label>
                    <p class="error-message" *ngIf="isInvalid(userRegistration.controls.address)">
                        Address is mandatory!
                    </p>
                </div>


                <!-- Contact Number  -->
                <div class="form-group">
                    <input class="col-sm-12 form-control" type="tel" formControlName="contactNumber" [ngClass]="{'focused-input-valid': isValid(userRegistration.controls.contactNumber),
                    'focused-input-invalid': isInvalid(userRegistration.controls.contactNumber)}">
                    <label for="Last Name" [ngClass]="{'focused-label-valid': isValid(userRegistration.controls.contactNumber),
                        'focused-label-invalid': isInvalid(userRegistration.controls.contactNumber)}">
                        Contact Number
                    </label>
                    <p class="error-message" *ngIf="isInvalid(userRegistration.controls.contactNumber)">
                        Please enter a valid contact number! Ex. 9574********
                    </p>
                </div>

                <!-- Email -->
                <div class="form-group">
                    <input class="col-sm-12 form-control" type="text" formControlName="email" [ngClass]="{'focused-input-valid': isValid(userRegistration.controls.email),
                    'focused-input-invalid': isInvalid(userRegistration.controls.email)}">
                    <label for="Last Name" [ngClass]="{'focused-label-valid': isValid(userRegistration.controls.email),
                        'focused-label-invalid': isInvalid(userRegistration.controls.email)}">
                        Email
                    </label>
                    <p class="error-message" *ngIf="isInvalid(userRegistration.controls.email)">
                        Please enter a valid email!
                    </p>
                </div>





            </div>
        </div>

        <div class="card">
            <label>Other Details</label>
            <div class="card-body">

                <!-- Q1  -->
                <div class="form-group">
                    <div class="row mx-auto">
                        <label>
                            Are you comfortable conversing with the opposite gender?
                        </label>
                    </div>
                    <div class="row">
                        <div class="col col-lg-3">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="radio" name="isComfortableWithOppositeGender" value="yes"
                                            formControlName="isComfortableWithOppositeGender">
                                    </div>
                                </div>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        Yes
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col col-lg-3">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="radio" name="isComfortableWithOppositeGender" value="No"
                                            formControlName="isComfortableWithOppositeGender">
                                    </div>
                                </div>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        No
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-5 col-lg-3">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="radio" name="isComfortableWithOppositeGender" value="May be"
                                            formControlName="isComfortableWithOppositeGender">
                                    </div>
                                </div>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        Maybe
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="error-message"
                        [hidden]="userRegistration.controls.isComfortableWithOppositeGender.valid || !userRegistration.controls.isComfortableWithOppositeGender.touched">
                        Please provide an answer!
                    </p>
                </div>

                <!-- Q2 -->
                <div class="form-group">
                    <div class="row mx-auto">
                        <label>
                            Where did you hear about us?
                        </label>
                    </div>
                    <div class="row mx-auto">
                        <input class="col-sm-12 form-control" type="text" formControlName="referredFrom">
                    </div>
                    <p class="error-message"
                        [hidden]="userRegistration.controls.isComfortableWithOppositeGender.valid || !userRegistration.controls.isComfortableWithOppositeGender.touched">
                        Please provide an answer!
                    </p>
                </div>

                <!-- Q3 -->
                <div class="form-group">
                    <div class="row mx-auto">
                        <label>
                            What do you aim to achieve by enrolling for this course?
                        </label>
                    </div>
                    <div class="row mx-auto">
                        <input class="col-sm-12 form-control" type="text" formControlName="purpose">
                    </div>
                    <p class="error-message"
                        [hidden]="userRegistration.controls.purpose.valid || !userRegistration.controls.purpose.touched">
                        Please let us know your purpose of joining this course!
                    </p>
                </div>


            </div>
        </div>

        <div class="card">
            <label>Book Your Time Slot</label>
            <div class="card-body">

                <!-- Time Slot Booking  -->
                <div class="form-group">
                    <div class="row mx-auto">
                        <label>
                            Select your preferred time slot for 30 Days (Select carefully, once submitted no alteration is possible)
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-4 py-2 px-auto" *ngFor="let slot of timeSlotArray">
                            <button class="btn btn-sm btn-block" type="button" [disabled] = "slot.isAvailable ? slot.isBooked : true"
                                [ngClass]="{'btn-outline-success': slot.isAvailable ? !slot.isBooked : false, 
                                            'btn-danger': slot.isAvailable ? slot.isBooked : false,
                                            'btn-secondary': !slot.isAvailable }"
                                [class.active]=" isSelectedSlot ? isSelectedSlot.slot === slot.slot : false"
                                (click)="selectTimeSlot(slot)"
                            >{{slot.slot}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <label>Promo Code (Optional)</label>
            <div class="card-body">

                <!-- PromoCode  -->
                <div class="row mx-auto">
                    <label>
                        Enter your promo code below in order to get offer.
                    </label>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input class="col-sm-12 form-control" type="text" formControlName="promoCode" placeholder="Your Code">
                      </div>
                    <!-- <p class="error-message"
                        [hidden]="userRegistration.controls.promoCode.errors?.promoCodeValidation || !isPromoCodeValid">
                        
                        Invalid promo code!
                    </p>
                    <p style="color: green"
                        [hidden]="userRegistration.controls.promoCode.errors?.promoCodeValidation || isPromoCodeValid">
                        
                        Promo Code Applied Successfully !
                    </p> -->
                </div>
            </div>
        </div>

        <div class="card">
            <label>Self Declaration</label>
            <div class="card-body">

                <!-- Self Declaration  -->
                <div class="row mx-auto">
                    <label>
                        I will strictly follow the professional etiquette and will not misbehave with the tutor. If found, BabbleApp has authority to cancel my registration.
                    </label>
                </div>
                <div class="row mx-auto">
                    <label>
                        I have read and understood the terms and conditions of this course.
                    </label>
                </div>
                <div class="form-group control-label-container">
                    <input type="checkbox" formControlName="isDeclarationAccepted">&nbsp;
                    <span>I Agree</span>
                    <p class="error-message"
                        [hidden]="userRegistration.controls.isDeclarationAccepted.valid || !userRegistration.controls.isDeclarationAccepted.touched">
                        Please read and accept the terms and conditions!
                    </p>
                    <br>
                </div>
            </div>
        </div>

        <div class="row my-3">
            <div class="col-lg-3 col-6">
                <button type="submit" class="btn btn-success btn-block"
                [disabled]="!userRegistration.valid || !userRegistration.controls.isDeclarationAccepted.value">Register</button>
            </div>
        </div>

    </form>

</section>