:host{
    font-family: Candara;
}
.social-links{
    margin-left: 2%;
    margin-right: 2%;
}
::-webkit-scrollbar {
    width: 9px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
    border-radius: 8px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
}
.modal {
    text-align: center;
  }

  .mdhead{
    background-image: linear-gradient(180deg, #ff7c00 10%, #da475f 80%);
    height: 250px;
    & * {
      color: #fff;
      font-weight: 600;
    }
  }
  
  .adhead{
    background: transparent !important;
    height: 450px;
    font-family: Candara;
  }
  #advImg{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   height: 400px;
  }
  #advImg > h1{
    text-align: center;
    font-weight: 900;
    background: -webkit-linear-gradient(0deg, #ff7c00 10%, #da475f 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #advImg > img{
    width: 65%;
  }
  .abtn{
    background-image: linear-gradient(180deg, #ff7c00 10%, #da475f 80%);
    color: #fff;
    font-weight: 700;
    margin: 2px auto;
    width: 50%;
  }

.mbtn{
  background: #fff;
  color: #da475f;
}


  
  @media screen and (min-width: 768px) { 
    .modal:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100%;
    }
  }
  
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
  .step-icon{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-image: linear-gradient(180deg, #ff7c00 10%, #da475f 80%);
    color: #fff;
  }


// Desktop View
@media screen and (min-width: 1200px){
    @import './landing-page.component.1200px.scss';
}

// Tablet View

@media screen and (max-width: 767px){

}

// Mobile View

@media screen and (max-width: 575px){
    @import './landing-page.component.574px.scss';
}