<section #home id="home" class="container-section" style="height: 92vh;">
    <!-- [ngClass]="{'hide-section': displayElememnt.mode !== 'home'}" -->
    <div class="right-bottom-video">
        <span></span>
    </div>

    <div class="row-top" style="align-items: center;">
        
        <div class="logo-row">
            <div class="logo-container">
                <div class="logo-col-1">
                    <img src="../../../assets/logo-babbleapp-1.jpg" width="75">
                </div>
                <div class="logo-col-2">
                    <span>BABBLE APP</span>
                    <span>Speak&nbsp;|&nbsp;Learn&nbsp;|&nbsp;Grow</span>
                </div>
            </div>
        </div>
        <!-- Burger button for smaller devices-->
        <div class="ham-btn-container" (click)="isMenuOpen = true">
            <img src="../../../assets/icons/menu.png" width="30">
        </div>
        <div class="nav-row" [ngClass]="{'open-menu': isMenuOpen}">
            <div class="btn close-btn" (click)="isMenuOpen = false">
                <img src="../../../assets//icons/close.png" alt="close" width="20">
            </div>
            <!-- <div class="nav-col" [class.nav-item-selected]="displayElememnt.mode === 'home'">
                <a (click)="scrollToElement(home,'home')">HOME</a>
            </div> -->
            <div class="nav-col" [class.nav-item-selected]="displayElememnt.mode === 'intro'">
                <a (click)="scrollToElement(intro,'intro')">HOW IT WORKS</a>
            </div>
            <div class="nav-col" [class.nav-item-selected]="displayElememnt.mode === 'about'">
                <a (click)="scrollToElement(about,'about')">ABOUT US</a>
            </div>
            <div class="nav-col" [class.nav-item-selected]="displayElememnt.mode === 'team'">
                <a (click)="scrollToElement(team,'team')">OUR TEAM</a>
            </div>
            <div class="nav-col" [class.nav-item-selected]="displayElememnt.mode === 'contact'">
                <a (click)="scrollToElement(contact,'contact')">CONTACT</a>
            </div>
            <div class="tutor-button" (click)="onEnquiryCalled()">
                Join Us As Tutor
            </div>
        </div>
    </div>

    <div class="row-top" style="justify-content: space-between">
        <div class="body-col" style="justify-content: flex-end;">
            <img id="img1" src="../../../assets/illustration-2.jpg" width="500" style="margin-top:100px">
        </div>
        <div class="body-col" style="justify-content: flex-start;">

            <div class="content-text">Level up your <br>English Speaking in 30 Days</div>
            <span class="content-subtext">Learn to speak fluent english in your leisure hours,
                by sparing<br>
                <strong style="font-size: 1.8rem;">15 Minutes </strong> a day.
            </span>
            <div class="row-top" style="justify-content: center;">
                <div class="content-button" (click)="scrollToElement(intro,'intro')">
                    Get Started
                </div>&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="content-button" (click)="onRegisterCalled()">
                    Register Now
                </div>
            </div>

        </div>
    </div>

</section>

<section #intro id="intro" class="container-section" style="height: 90vh;">

    <div class="row-top" style="justify-content: space-between; margin-top: 36px;">
        <div class="body-col video-bg">
            <youtube-player videoId="jzCI6Gwdsow" suggestedQuality="highres" [height]="220" [width]="300">
            </youtube-player>
        </div>
        <div class="body-col vide-besid">

            <div class="right-top-heading">
                <div class="heading-text">
                    How It Works
                </div>
            </div>

            <div class="body-col list-cntent">
                <div class="logo-container">
                    <div class="icon-bg">
                        <img src="../../../assets/icons/interview.png" width="35">
                    </div>
                    <div class="body-col" style="justify-content: center;">
                        <strong>One-on-One Interactive sessions<br>
                            with Expert Tutors</strong>
                    </div>
                </div>

                <div class="logo-container">
                    <div class="icon-bg">
                        <img src="../../../assets/icons/video-call.png" width="30">
                    </div>
                    <div class="body-col" style="justify-content: center;">
                        <strong>Both Audio | Video Calling Options Available</strong>
                    </div>
                </div>

                <div class="logo-container">
                    <div class="icon-bg">
                        <img src="../../../assets/icons/calendar.png" width="30">
                    </div>
                    <div class="body-col" style="justify-content: center;">
                        <strong>Just 15 minutes per day</strong>
                    </div>
                </div>

                <div class="logo-container">
                    <div class="icon-bg">
                        <img src="../../../assets/icons/report.png" width="30">
                    </div>
                    <div class="body-col" style="justify-content: center;">
                        <strong>Personalized Counselling & Daily Performance <br>Reports</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section #about id="about" class="container-section" style="height: 90vh;">

    <div class="row-top"
        style="flex-direction: row-reverse !important; justify-content: space-evenly; margin-top: 24px;">
        <div class="body-col left-col-bg">
            <img id="img2" src="../../../assets/team.jpg" width="600">
        </div>
        <div class="body-col right-col-bg">

            <div class="right-top-heading">
                <div class="heading-text" style="padding-right: 20px;">
                    About Us
                </div>
            </div>
            <p class="body-text">
                We are a young team of enthusiasts working towards achieving a common goal
                of making the process of speaking english effective and fun.<br><br>

                Envisioned during the COVID pandemic, a time when the world came to a standstill,
                our purpose was is to help people make the best use of their time by honing
                the indispensable skill of speaking english in a fluent and confident manner, in the comfort of their
                homes.<br><br>

                Numerous courses advertise the promise to enhance your English proficieny,
                but offer the same old techniques.<br><br>

                Our team seeks to tackle the problem from a fresh perspective,
                by providing a safe learning space and focusing purely on guided PRACTICE.<br>
            </p>

            <div class="vision-text">
                <div class="q-bottom-right">
                    &rdquo;
                </div>
                <strong>We aspire to equip every thoughtful mind,<br> with a voice.</strong>
            </div>
        </div>
    </div>

</section>

<section #team id="team" class="container-section" style="height: 90vh;">

    <div class="logo-container team-col">

        
        <div class="right-top-heading">
            <div class="heading-text" style="padding-right: 20px;">
                Our Team
            </div>
        </div>

        
        <div class="body-col team-member" *ngFor="let member of appTeam">
            
            <div class="card profile-detail">
                <div class="profile-image">
                    <img [src]="member.image" width="230">
                </div>
                <div class="card-body">
                    <h3></h3>
                    <h3 class="card-title">{{member.name}}</h3>
                    <h5 class="card-text">{{member.role}}</h5>
                </div>
                <div class="card-footer">
                   <a class="social-links" href="https://www.linkedin.com/in/{{member.linkedin}}"><img src="../../../assets/icons/linkedin.png" width="28"></a>
                   <a class="social-links" href="https://www.instagram.com/{{member.instagram}}/"><img src="../../../assets/icons/instagram-logo.png" width="28"></a>
                </div>
            </div>

        </div>
    </div>

</section>

<section #contact id="contact" class="container-section" style="height: 88vh;">

    <div class="row-top contact-us">
        <div class="contact-bottom">
        </div>
        <div class="body-col video-bg">

            <div class="contact-form w-75 mx-auto">
                <form [formGroup]="contactForm" (ngSubmit)="submitEnquiry()" class="w-100">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control form-control-sm" id="name" formControlName="name"
                            placeholder="Enter your Name">
                    </div>

                    <div class="form-group">
                        <label for="contactE">Contact No. / Email</label>
                        <input type="text" class="form-control form-control-sm" id="contactE" formControlName="contact"
                            placeholder="Enter contact no or email">
                    </div>

                    <!-- <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" formControlName="email">
                    </div> -->

                    <div class="form-group">
                        <label for="username">Message</label>
                        <textarea class="form-control form-control-sm" formControlName="message" rows="3"
                            placeholder="Your message to us..."></textarea>
                    </div>
                    <button class="btn btn-block btn-primary" [disabled]="!contactForm.valid">Submit</button>
                </form>
            </div>

            <!-- <img src="../../../assets/handshake-colour-400px.png" width="300"> -->

        </div>

        <div class="body-col reach-out">

            <div class="right-top-heading">
                <div class="heading-text" style="padding-right: 20px;">
                    Contact Us
                </div>
            </div>

            <div class="logo-container" id="reachUs">
                <div class="body-col" style="justify-content: center;">
                    <strong >Reach Out To Us</strong>
                </div>
            </div>

            <div class="logo-container mt-3">
                <div class="icon-bg">
                    <img src="../../../assets/icons/pin.png" width="25">
                </div>
                <div class="body-col" style="justify-content: center;">
                    <span>BAJAJ INCUBATION CENTER Dr. B.A.M.U Campus<br> Aurangabad, Maharashtra 431004</span>
                </div>
            </div>

            <div class="logo-container mt-3">
                <div class="icon-bg">
                    <img src="../../../assets/icons/mail.png" width="25">
                </div>
                <div class="body-col" style="justify-content: center;">
                    <span>info@babbleapp.in</span>
                </div>
            </div>

            <div class="logo-container mt-3">
                <div class="icon-bg">
                    <img src="../../../assets/icons/whatsapp.png" width="25">
                </div>
                <div class="body-col" style="justify-content: center;">
                    <span>(+91) - 9130081881&nbsp;&nbsp;|&nbsp;&nbsp;(+91) - 9156897772</span>
                </div>
            </div>


            <!-- &copy; 2020 babbleapp.in
                        &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;  -->

            <div class="logo-container follow-us-row">
                <div class="body-col justify-content-center" style="height: 40px;">
                    <span>Connect With Us&nbsp;&nbsp;</span>
                </div>
                <br>
                <div class="follow-us-col">
                    <a href="https://www.facebook.com/Babble-app-106428867812132/">
                        <img src="../../../assets/icons/facebook.png" width="20">
                    </a>
                </div>

                <div class="follow-us-col">
                    <a href="https://www.instagram.com/babbleapp_/">
                        <img src="../../../assets/icons/instagram.png" width="20">
                    </a>
                </div>

                <div class="bottom-contact-img">
                    <img src="../../../assets/3778874.jpg" width="260">
                </div>

            </div>

        </div>

    </div>

</section>

<div class="contact-wa">
    <a href="https://wa.me/917350413456">
        <img src="../../../assets/icons/whatsapp.png" width="35">
    </a>
</div>