<section #registrationForm class="form-section-container">

    <div class="right-top-heading">
        <div class="heading-text">
            Tutor Enquiry Form
        </div>
    </div>

    <div class="logo-row">
        <div class="row-top">
            <div class="logo-col-1">
                <img src="../../../assets/logo-babbleapp-1.jpg" width="75">
            </div>
            <div class="logo-col-2">
                <span>BABBLE APP</span>
                <span>Speak&nbsp;|&nbsp;Learn&nbsp;|&nbsp;Grow</span>
            </div>
        </div>
    </div>

    <form class="w-100 mx-0 my-0 px-0 py-0" [formGroup]="tutorEnquiryForm" (ngSubmit)="submitForm(modelTemplate)">

        <div class="card">
            <label>Basic Details</label>
            <div class="card-body">

                <div class="form-group">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <!-- First Name -->
                            <div class="form-group">
                                <input class="col-sm-12 form-control" type="text" formControlName="firstName" #firstName
                                    [ngClass]="{'focused-input-valid': isValid(tutorEnquiryForm.controls.firstName),
                                'focused-input-invalid': isInvalid(tutorEnquiryForm.controls.firstName)}">
                                <label for="First Name" [ngClass]="{'focused-label-valid': isValid(tutorEnquiryForm.controls.firstName),
                                    'focused-label-invalid': isInvalid(tutorEnquiryForm.controls.firstName)}">
                                    First Name
                                </label>
                                <p class="error-message" *ngIf="isInvalid(tutorEnquiryForm.controls.firstName)">
                                    First name is mandatory!
                                </p>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <!-- Last Name -->
                            <div class="form-group">
                                <input class="col-sm-12 form-control" type="text" formControlName="lastName" #lastName
                                    [ngClass]="{'focused-input-valid': isValid(tutorEnquiryForm.controls.lastName),
                                'focused-input-invalid': isInvalid(tutorEnquiryForm.controls.lastName)}">
                                <label for="Last Name" [ngClass]="{'focused-label-valid': isValid(tutorEnquiryForm.controls.lastName),
                                    'focused-label-invalid': isInvalid(tutorEnquiryForm.controls.lastName)}">
                                    Last Name
                                </label>
                                <p class="error-message" *ngIf="isInvalid(tutorEnquiryForm.controls.lastName)">
                                    Last name is mandatory!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="row">
                        <!-- Gender -->
                        <div class="col-12 col-lg-6" id="genCol">

                            <div class="input-group">
                                <span class="input-group-text">Gender</span>&nbsp;&nbsp;
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" value="male"
                                        formControlName="gender">
                                    <label class="form-check-label">Male</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" value="female"
                                        formControlName="gender">
                                    <label class="form-check-label">Female</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" value="other"
                                        formControlName="gender">
                                    <label class="form-check-label">Other</label>
                                </div>

                            </div>

                        </div>

                        <div class="col-12 col-lg-6">

                            <!-- Age -->
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Age</span>
                                </div>
                                <input class="form-control" type="number" formControlName="age">
                            </div>
                            <p class="error-message" *ngIf="isInvalid(tutorEnquiryForm.controls.age)">
                                Please provide a valid age in years!
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Profession  -->
                <div class="form-group">
                    <input class="col-sm-12 form-control" type="text" formControlName="profession" [ngClass]="{'focused-input-valid': isValid(tutorEnquiryForm.controls.profession),
                    'focused-input-invalid': isInvalid(tutorEnquiryForm.controls.profession)}">
                    <label for="Last Name" [ngClass]="{'focused-label-valid': isValid(tutorEnquiryForm.controls.profession),
                        'focused-label-invalid': isInvalid(tutorEnquiryForm.controls.profession)}">
                        Profession
                    </label>
                    <p class="error-message" *ngIf="isInvalid(tutorEnquiryForm.controls.profession)">
                        Profession is mandatory!
                    </p>
                </div>

            </div>
        </div>

        <div class="card">
            <label>Contact Details</label>
            <div class="card-body">

                <!-- Address  -->
                <div class="form-group">
                    <input class="col-sm-12 form-control" type="text" formControlName="address" [ngClass]="{'focused-input-valid': isValid(tutorEnquiryForm.controls.address),
                    'focused-input-invalid': isInvalid(tutorEnquiryForm.controls.address)}">
                    <label for="Last Name" [ngClass]="{'focused-label-valid': isValid(tutorEnquiryForm.controls.address),
                        'focused-label-invalid': isInvalid(tutorEnquiryForm.controls.address)}">
                        Address
                    </label>
                    <p class="error-message" *ngIf="isInvalid(tutorEnquiryForm.controls.address)">
                        Address is mandatory!
                    </p>
                </div>


                <!-- Contact Number  -->
                <div class="form-group">
                    <input class="col-sm-12 form-control" type="tel" formControlName="contactNumber" [ngClass]="{'focused-input-valid': isValid(tutorEnquiryForm.controls.contactNumber),
                    'focused-input-invalid': isInvalid(tutorEnquiryForm.controls.contactNumber)}">
                    <label for="Last Name" [ngClass]="{'focused-label-valid': isValid(tutorEnquiryForm.controls.contactNumber),
                        'focused-label-invalid': isInvalid(tutorEnquiryForm.controls.contactNumber)}">
                        Contact Number
                    </label>
                    <p class="error-message" *ngIf="isInvalid(tutorEnquiryForm.controls.contactNumber)">
                        Please enter a valid contact number! Ex. 9874********
                    </p>
                </div>

                <!-- Email -->
                <div class="form-group">
                    <input class="col-sm-12 form-control" type="text" formControlName="email" [ngClass]="{'focused-input-valid': isValid(tutorEnquiryForm.controls.email),
                    'focused-input-invalid': isInvalid(tutorEnquiryForm.controls.email)}">
                    <label for="Last Name" [ngClass]="{'focused-label-valid': isValid(tutorEnquiryForm.controls.email),
                        'focused-label-invalid': isInvalid(tutorEnquiryForm.controls.email)}">
                        Email
                    </label>
                    <p class="error-message" *ngIf="isInvalid(tutorEnquiryForm.controls.email)">
                        Please enter a valid email!
                    </p>
                </div>





            </div>
        </div>

        <div class="card">
            <label>Other Details</label>
            <div class="card-body">

                <!-- Q1 -->
                <div class="form-group">
                    <div class="row mx-auto">
                        <label>
                            Where did you hear about us?
                        </label>
                    </div>
                    <div class="row mx-auto">
                        <input class="col-sm-12 form-control" type="text" formControlName="referredFrom">
                    </div>
                </div>

                <!-- Q2 -->
                <div class="form-group">
                    <div class="row mx-auto">
                        <label>
                            How many hours per day can you dedicate in the tutor partner role?
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-4 col-lg-2 mb-2" *ngFor="let hrs of [1,2,3,4,5,6]">
                            <button class="btn btn-sm btn-block btn-outline-primary" type="button"
                                [class.active]=" isSelectedSlot === hrs"
                                (click)="selectTimeSlot(hrs)"
                            >{{hrs}}&nbsp; Hour</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="row my-3">
            <div class="col-lg-3 col-6">
                <button type="submit" class="btn btn-success btn-block"
                [disabled]="!tutorEnquiryForm.valid">Submit</button>
            </div>
        </div>

    </form>

</section>

<ng-template #modelTemplate>
    <div class="modal-header mdhead">
        <div class="col">
            <div class="row">
                <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="row">
                <div class="col">
                    <h3 class="text-center">Thank You!</h3>
                </div>
            </div>
            <div class="row align-items-center justify-content-center mt-2">
                <p class="text-center">Your Enquiry for enrolment was submitted successfully </p>
                <p class="text-center">You may expect an interview call within 24-48 hours from us.</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn mbtn pull-right" aria-label="Close" (click)="closeModal()">
            Okay
        </button>
    </div>
</ng-template>
